/*----------------------Обнуление----------------------*/
*{
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*----------------------Обнуление----------------------*/

body{
   font-family: Calibri;
   font-size: 20px;
   background-color: rgb(156, 156, 156);
}

h1{
   font-size: 25px;
}

h2{
   text-shadow: 1px 1px 1px rgba(85, 85, 85, 0.226);
   line-height: 40px;
   font-size: 25px;
}

p{
   text-align: justify;
}

.contact{
   margin: 15px 250px 10px 250px;
   padding: 20px 20px 20px 20px;
   background-color: white;
}

.about-me{
   margin: 10px 250px 10px 250px;
   padding: 20px 20px 20px 20px;
   background-color: white;
}

.code-example{
   margin: 10px 250px 10px 250px;
   padding: 20px 20px 20px 20px;
   background-color: white;
}

.work-experience{
   margin: 10px 250px 10px 250px;
   padding: 20px 20px 20px 20px;
   background-color: white;
}

.education{
   margin: 10px 250px 10px 250px;
   padding: 20px 20px 20px 20px;
   background-color: white;
}

footer{
   margin: 10px 250px 10px 250px;
   background: slategray;
   color: white;
}

.git{
   width: 50px;
   
}

.rs{
   width: 80px;
}