/*----------------------Обнуление----------------------*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*----------------------Обнуление----------------------*/

:root {
  --bg-dark: #000000;
  --white: #ffffff;
  --gold: #bdae82;
  --font-merri-blod: 'Merriweather', serif;
  --font-inter-reg: 'Inter', sans-serif;
 }
body{
  background-color: var(--bg-dark);
  font-family: var(--font-merri-bold);
}
body.day{
  background-color: var(--white);
}




/*--------header--------*/

.header{
  position: relative;
  background: #ffffff00;
  font-family: var(--font-inter-reg);
  z-index: 10;
}

.header__container{
  max-width: 1440px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header__menu{
  margin-left: auto
}
.header__logo {
  width: 50px;
  height: 50px;
  background: url(../assets/svg/logo.svg) 50% no-repeat;
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.header__logo-link{
  width: 50px;
  height: 50px;
  display: block;
}
.header__logo:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.header__link:hover{
  color: var(--gold);
}
.menu__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item{
  padding: 0 0 0 30px;
}
.menu__link{
  color: var(--white);
  font-size: 20px;
  line-height: 50px;
  scroll-behavior: smooth;
  transition: 0.3s;
}
.menu__link:hover{
  color: var(--gold);
}

.menu__language{
  display: flex;
  align-content: space-between;
  padding: 0 0 0 31px;
  color: var(--white);
  font-family: var(--font-inter-reg);
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
.menu__language-item{
  padding: 0 18px 0 18px;
}
.menu__language-btn{
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  line-height: 50px;
  transition: 0.3s;
  font-weight: bold;
}
.menu__language-btn:hover{
  color: var(--gold);
}
.menu__language-btn.active{
  color: var(--gold);
}

.header__theme-button{
  margin: 0 0 0 30px;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background: url(../assets/svg/night.svg) 50% no-repeat;
  transition: all 0.5s ease-out;
}
.header__theme-button:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.header__theme-button.day{
  background: url(../assets/svg/day.svg) 50% no-repeat;
}




/*--------header--------*/

/*--------main--------*/
.page{
  position: relative;
  top: -90px;
}
.section__size{
  max-width: 1440px;
  margin: 0 auto;
}
.section__size-hero{
  height: 910px;
}

.section__hero{
  position: relative;
  height: 910px;
  
}
.section__hero-container{
  width: 100%;
  height: 100%;
  background: url(../assets/img/hero-foto.jpg) 50% no-repeat;
  padding: 250px 0 0 80px;
}
.section__hero-content{
  width: 470px;
  height: 330px;
}
.section__hero-h1{
  font-family: var(--font-merri-blod);
  font-size: 60px;
  line-height: 120px;
  color: var(--white);
}
.section__hero-text{
  font-family: var(--font-inter-reg);
  color: var(--white);
  font-size: 20px;
  line-height: 40px;
  margin: 10px 0 25px 0;
}
.section__hero-button{
  font-family: var(--font-inter-reg);
  font-size: 20px;
  line-height: 40px;
  height: 55px;
  width: 220px;
  top: 25px;
  background-color: var(--gold);
  transition: 0.3s;
}
.section__hero-button:hover{
  color: var(--white);
}

.section__wrapper-title{
  background-image: linear-gradient(to top, var(--bg-dark) 39px, var(--gold) 39px, var(--gold) 41px, var(--bg-dark) 41px);
  width: 50%;
  margin: 0 auto;
}
.section__wrapper-title.day{
  background-image: linear-gradient(to top, var(--white) 39px, var(--bg-dark) 39px, var(--bg-dark) 41px, var(--white) 41px);
}

.section-h2{
  font-family: var(--font-merri-blod);
  color: var(--gold);
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  background-color: var(--bg-dark);
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;
}

.section-h2.day{
  color: var(--bg-dark);
  background-color: var(--white);
}

.section__skills{
  padding: 100px 0 0 0;
}
.section__skills-content{
  margin: 60px auto 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.section__skills-element{
  color: var(--white);
  width: 320px;
  max-height: 240px;
  margin: 0 auto;
}
.section__skills-element.day{
  color: var(--bg-dark);
}
.section__skills-img{
  display: block;
  margin: 0 auto 40px auto;
}
.section__skills-h3{
  font-family: var(--font-inter-reg);
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
}
.section__skills-text{
  font-family: var(--font-inter-reg);
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding: 10px 0 10px 0;
}
.section__portfolio{
  padding: 100px 0 0 0;
}
.section__portfolio-conteiner{
  max-width: 895px;
  display: flex;
  justify-content:space-between;
  margin: 60px auto 60px auto;
}
.section__portfolio-button{
  font-family: var(--font-inter-reg);
  font-size: 20px;
  width: 220px;
  height: 55px;
  color: var(--gold);
  border: 2px solid var(--gold);
  background-color: var(--bg-dark);
  transition: 0.3s;
}
.section__portfolio-button:hover{
  color: var(--white);
}
.section__portfolio-button.day{
  color: var(--bg-dark);
  background-color: var(--white);
}
.section__portfolio-button.day:hover{
  color: var(--white);
  background-color: var(--gold);
}
.section__portfolio-button.active{
  color: var(--bg-dark);
  background-color: var(--gold);
}

.section__portfolio-button.active.day{
  color: var(--white);
  background-color: var(--gold);
}

.section__portfolio-gallery{
  display: inline-grid;
  width: 100%;
  min-height: 1145px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

}
.section__portfolio-img{
  display: block;
  /*margin: 0 0 25px 0;*/
}
.section__video{
  padding: 100px 20px 0 20px;
}
.section__video-container{
  max-width: 1400px;
  max-height: 705px;
  margin: 60px auto 0 auto;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.section__video-video{
  width: 100%;
  object-fit: cover;
}

.section__video-play-button{
  position: absolute;
  border-radius: 50%;
  background: transparent;
}
.section__video-play-button-img{
  transition: 0.3s;
}

.section__video-play-button-img:hover{
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.section__video-play-button-img.active{
  display: none;
}


.section__video-controls{
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 20px;
  background-color: #00000086;
  top: 91.5%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-out 0.3s;
}

.section__video-controls.up{
  top: 91.5%;
  z-index: 1;
  opacity: 100;
}


.section__video-play-mini-btn {
  width: 40px;
  height: 40px;
  background: url(../assets/svg/controls/play.svg) 50% no-repeat;
  transition: 0.3s;
}
.section__video-play-mini-btn.active{
  background: url(../assets/svg/controls/pause.svg) 50% no-repeat;
}

.section__video-timeline {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 0%, #fff 0%, #fff 100%);
  border-radius: 8px;
  height: 7px;
  width: calc(80% - 50px);
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.section__video-timeline::-webkit-slider-thumb{
  border: 1px solid var(--gold);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--gold);
  transition: 0.3s;
}

.section__video-timeline::-webkit-slider-thumb:hover{
  border: 1px solid var(--white);
  background: #9b8f6c;
}

.section__video-mute {
  width: 40px;
  height: 40px;
  background: url(../assets/svg/controls/volume.svg) 50% no-repeat;
  transition: 0.3s;
}
.section__video-mute.active{
  background: url(../assets/svg/controls/mute.svg) 50% no-repeat;
}
.section__video-mute:hover,
.section__video-play-mini-btn:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.section__video-volume {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #fff 40%, #fff 100%);
  border-radius: 8px;
  height: 7px;
  width: 10%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.section__video-volume::-webkit-slider-thumb{
  border: 1px solid var(--gold);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--gold);
  transition: 0.3s;
}

.section__video-volume::-webkit-slider-thumb:hover{
  border: 1px solid var(--white);
  background: #9b8f6c;
}

.section__price{
  padding: 100px 0 100px 0;
} 
.section__price-conteiner{
  display: flex;
  justify-content:space-between;
  color: var(--white);
  margin: 60px 20px 0 20px;
}
.section__price-conteiner.day{
  color: var(--bg-dark);
}

.section__price-card{
  width: 450px;
  height: 505px;
  border: 2px solid var(--gold);
  padding: 43px 0 43px 0;
  flex-direction:column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__price-title-content{
  font-family: var(--font-merri-blod);
  font-weight: bold;
  font-size: 28px;
  line-height: 56px; 
  text-align: center;
}
.section__price-price{
  font-family: var(--font-merri-blod);
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: var(--gold);
  text-align: center;
  padding: 20px 0 20px 0;
}
.section__price-content{
  display: block;
  font-family: var(--font-inter-reg);
  font-size: 18px;
  line-height: 36px;
}
.section__price-button{
  width: 220px;
  height: 55px;
  background-color: var(--gold);
  color: var(--bg-dark);
  font-family: var(--font-inter-reg);
  font-size: 20px;
  line-height: 40px;
  margin: 40px 115px 0 115px;
  transition: 0.3s;
}
.section__price-button:hover{
  color: var(--white);
}
.section__contact{
  position: relative;
  margin: 0 auto 0 auto;
  padding: 61px 37px 0 0;
  height: 700px;
  background: url(../assets/img/contacts-bg.jpg) 50% no-repeat;

}
.section__size-contact{
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction:row-reverse;
}

.section__contact-conteiner{
  width: 450px;
  height: 445px;
}
.section__contact-title {
  font-family: var(--font-merri-blod);
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  margin: 0 0 40px 0;
}
.section__contact-email {
  background: rgba(0, 0, 0, 0.233);
  border: 2px solid var(--gold);
  width: 450px;
  height: 50px;
  padding: 5px 0 0 20px;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-family: var(--font-inter-reg);
  color: var(--gold);
}
.section__contact-phone {
  background: rgba(0, 0, 0, 0.233);
  border: 2px solid var(--gold);
  width: 450px;
  height: 50px;
  padding: 5px 0 0 20px;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-family: var(--font-inter-reg);
  color: var(--gold);
}
.section__contact-message {
  background: rgba(0, 0, 0, 0.233);
  border: 2px solid var(--gold);
  resize: none;
  width: 450px;
  height: 100px;
  padding: 10px 0 0 20px;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-family: var(--font-inter-reg);
  color: var(--gold);
}
.section__contact-email::placeholder{
  font-family: var(--font-inter-reg);
  color: var(--gold);
  font-size: 20px;
}
.section__contact-phone::placeholder{
  font-family: var(--font-inter-reg);
  color: var(--gold);
  font-size: 20px;
}
.section__contact-message::placeholder{
  font-family: var(--font-inter-reg);
  color: var(--gold);
  font-size: 20px;
}
.section__contact-button {
  background-color: var(--gold);
  font-family: var(--font-inter-reg);
  font-size: 20px;
  line-height: 40px;
  width: 220px;
  height: 55px;
  transition: 0.3s;
}
.section__contact-button:hover{
  color: var(--white);
}
/*--------main--------*/

/*--------footer--------*/
.footer{
  max-width: 1440px;
  min-height: 150px;
  margin: 0 auto;
  color: var(--white);
  font-family: var(--font-inter-reg);
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: -90px;
}
.footer.day{
  color: var(--bg-dark);
}

.footer__link-rs{
  color: var(--white);
  transition: 0.3s;
}
.footer__link-rs.day{
  color: var(--bg-dark);
  transition: 0.3s;
}

.footer__link-rs:hover{
  color: var(--gold);
}
.footer__conteiner{
  display:flex;
  justify-content:space-between;
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 20px;
}
.footer__list{
  display:flex;
  justify-content:space-between;
}
.footer__git-link{
  color: var(--white);
  transition: 0.3s;
}

.footer__git-link.day{
  color: var(--bg-dark);
  transition: 0.3s;
}

.footer__git-link:hover{
  color: var(--gold);
}
.footer__list-yaer{
  margin: 0 20px 0 20px;
}
.footer__list-social{
  display:flex;
  justify-content:space-between;
  padding: 10px 0 0 0;
  height: 50px;
}
.footer__social {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}
.footer__link{
  display: block;
  width: 32px;
  height: 32px;
}
.footer__social:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.footer__social.day{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7483%) hue-rotate(312deg) brightness(100%) contrast(107%);
  transition: 0.3s;
}
.footer__social.day:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.footer__social-instagram {
  background: url(../assets/svg/inst.svg) 50% no-repeat;
  margin: 0 10px 0 0;
}
.footer__social-fasebook {
  background: url(../assets/svg/fb.svg) 50% no-repeat;
  margin: 0 10px 0 10px;
}
.footer__social-twitter {
  background: url(../assets/svg/tw.svg) 50% no-repeat;
  margin: 0 10px 0 10px;
}
.footer__social-pinterest {
  background: url(../assets/svg/pin.svg) 50% no-repeat;
  margin: 0 0 0 10px;
}
/*--------footer--------*/

/*--------media--------*/
@media (max-width: 1400px){
  .section__video{
    padding: 100px 0 0 0;
  }
  .section__price-conteiner{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  .section__price-card{
    width: 420px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 1350px){
  .section__skills{
    padding: 80px 0 13px 0;
  }
  .section__skills-content{
    margin: 30px auto 0 auto;
    padding: 15px 22px 27px 22px;
    max-width: 728px;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
  }
  .section__skills-element{
    width: 300px;
    height: 224px;
    margin: 0 auto 36px auto;
  }
 
  .section__skills-img{
    margin: 0 auto 30px auto;
  }
  .section__skills-h3{
    padding: 0;
    margin: 0 0 20px 0;
  }
  .section__skills-text{
    padding: 0;
    line-height: 22px;
  }
  .section__portfolio-gallery{
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  .section__portfolio-img{
    margin: 0 0 25px 0;
  }
}

@media (max-width: 900px){
  .section__portfolio{
    padding: 45px 0 0 0;
  }
  .section__portfolio-gallery{
    grid-template-columns: 1fr;
    align-content: space-evenly;
    justify-content: space-between;
  }
  .section__portfolio-img{
    margin: 0 0 25px 0;
  }
  .section__portfolio-conteiner{
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin: 47.5px auto 57.5px auto;
  }
  .section__portfolio-button{
    margin: 2.5px;
  }
}

.header__burger{
  display: none;
}

@media (max-width: 768px){
  body.lock{
    overflow: hidden;
  }

  .section-h2{
    font-size: 32px;
    line-height: 80px;
  }

  .header__container{
    padding: 20px 64px 20px 60px;
  }
  .header__menu{
    position: fixed;
    top:0;
    right: -300%;
    width: 620px;
    height: 100%;
    background-color: var(--bg-dark);
    padding: 100px 0 0 0;
    transition: 0.3s;
    overflow: auto;
  }
  .header__menu.open{
    right: 0;
  }
  .header__menu.day{
    background-color: var(--white);
  }
  .menu__list{
    display: block;
    padding: 0 0 0 127px;
  }
  .menu__item{
    padding: 0 0 16px 0;
  }
  .menu__link{
    font-size: 34.8235px;
    line-height: 73px;
  }
  .menu__link.day{
    color: var(--bg-dark);
  }
  .menu__language{
    margin-left: auto;
  }
  .header__burger{
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    margin: 0 0 0 20px;
  }
  .header__burger:hover{
    cursor: pointer;
  }
  .header__burger::before,
  .header__burger::after{
    content: '';
    background: var(--white);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: 0.3s;
  }
  .header__burger::before{
    top: 0;
  }
  .header__burger::after{
    bottom: 0;
  }
  .header__burger span{
    background: var(--white);
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 13px;
    transition: 0.3s;
  }
  .header__burger.open::before{
    transform: rotate(45deg);
    top: 13px;
  }
  .header__burger.open::after{
    transform: rotate(-45deg);
    bottom: 13px;
  }

  .header__burger.open span{
    transform:scale(0);
  }

  .header__burger span:hover{
    background: var(--gold);
  }
  .header__burger::before:hover,
  .header__burger::after:hover{
    background: var(--gold);
  }

  .header__burger.day.open::before,
  .header__burger.day.open::after{
    background-color: var(--bg-dark);
  }

  .section__hero{
    height: 590px;
  }
  .section__hero-container{
    background-position: -5px -30px;
    background-size: auto 620px;
    padding: 168px 0 0 60px;
  }
  .section__hero-content{
    width: 390px;
    height: 330px;
  }
  .section__hero-h1{
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
  }
  .section__hero-text{
    line-height: 24px;
    margin: 20px 0 60px 0;
  }
  .section__video{
    padding: 56px 0 0 0;
  }
  .section__video-container{
    margin: 50px 0 0 0;
  }
  .section__video-play-button-img{
    width: 64.62px; 
    height: 64.69px;
  }
  .section__price{
    padding: 80px 0 24px 0;
  }
  .section__price-conteiner{
    margin: 50px 20px 0 20px  ;
  }
  .section__contact{
    margin: 0 0 0 0;
    height: 600px;
    background-size: auto 600px;
    padding: 55px 0 0 0;
  }
  .section__contact-conteiner{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .section__size-contact{
    justify-content:center;
  }
  .section__contact-title{
    font-size: 32px;
    line-height: 64px;
  }
  .footer__conteiner{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 20px 0 28px 0;
  }
}
@media (max-width: 621px){
  .header__menu{
    width: 100%;
  }
}
@media (max-width: 450px){
  .header__container{
    padding: 15px;
  }
  .header__menu{
    padding: 85px 0 0 0;
  }
  .menu__list{
    padding: 0 0 0 70px;
  }
  .section__hero-container{
    padding: 140px 0 0 20px;
    background-position: -200px -30px;
    background-size: auto 550px;
  } 
  .section__hero-content{
    max-width: 290px;
  }
  .section__skills{
    padding: 50px;
  }
  .section__skills-content{
    padding: 15px 22px 0 22px;
  }
  .section__portfolio{
    padding: 0 0 0 0;
  }
  
  .section__portfolio-img{
    width: 300px;
    height: auto;
  }
  .section__video{
    padding: 25px 0 0 0;
  }
  .section__video-container{
    margin: 25px 0 0 0;
  }
  .section__price{
    padding: 40px 0 0 0;
  }
  .section__price-card{
    width: 300px;
  }
  .section__contact{
    height: 500px;
    background-size: auto 500px;
    background-position: -190px 0;
    padding: 30px 20px 20px 20px;
  }
  .section__contact-conteiner{
    width: 300px;
  }
  .section__contact-email{
    width: 300px;
  }
  .section__contact-phone{
    width: 300px;
  }
  .section__contact-message{
    width: 300px;
  }
}
/*--------media--------*/